# Model files
backend/models/*.pth
backend/pneumoscan/models/*.pth

# Virtual environments
venv/
backend/venv/
backend/pneumoscan/venv/
backend/pneumoscan/.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Database
backend/pneumoscan/pneumoscan.db

# Storage
backend/pneumoscan/storage/

# Archives
*.zip